/* Gotham fonts */

@font-face {
    font-family: 'Gotham Ultra';
    src: url('/fonts/Gotham-Ultra.woff2') format('woff2'),
        url('/fonts/Gotham-Ultra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Black.woff2') format('woff2'),
        url('/fonts/Gotham-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Bold.woff2') format('woff2'),
        url('/fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Medium.woff2') format('woff2'),
        url('/fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('/fonts/Gotham-Book.woff2') format('woff2'),
        url('/fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Light.woff2') format('woff2'),
        url('/fonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Extra';
    src: url('/fonts/Gotham-ExtraLight.woff2') format('woff2'),
        url('/fonts/Gotham-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Thin.woff2') format('woff2'),
        url('/fonts/Gotham-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

.gotham-ultra {
    font-family: 'Gotham Ultra';
    font-weight: normal;
    font-style: normal;
}

.gotham-black {
    font-family: 'Gotham';
    font-weight: 900;
    font-style: normal;
}

.gotham-bold {
    font-family: 'Gotham';
    font-weight: bold;
    font-style: normal;
}

.gotham-medium {
    font-family: 'Gotham';
    font-weight: 500;
    font-style: normal;
}

.gotham-book {
    font-family: 'Gotham Book';
    font-weight: normal;
    font-style: normal;
}

.gotham-light {
    font-family: 'Gotham';
    font-weight: 300;
    font-style: normal;
}

.gotham-extralight {
    font-family: 'Gotham Extra';
    font-weight: 200;
    font-style: normal;
}

.gotham-thin {
    font-family: 'Gotham';
    font-weight: 100;
    font-style: normal;
}