#canvas {
    /* border: solid red 1px; */
    width: 100%;
}

#phrase {
    border: transparent;
    background-color: transparent;
    box-shadow: none;
    padding-left: 0px;
}

#font-color {
    border: none;
    width: 64px;
    height: 40px;
}

pre {
    background-color: rgba(51, 51, 51, 0.06);
}