@charset "utf-8";

// Import a Google Font
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('/css/gotham.css');

// Set your brand colors
$purple: #8A4D76;
$pink: #ff002b;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

$rouge-vif: #ff0000;
$rouge-grenat: #990000;
$beige-clair: #d4cbba;
$beige-fonce: #80735d;
$noir: #000000;
$blanc: #ffffff;

// Update Bulma's global variables
$family-sans-serif: "Gotham", sans-serif;
$grey-dark: $noir;
$grey-light: $beige-clair;
$primary: $beige-fonce;
$link: $rouge-grenat;
//$widescreen-enabled: false;
//$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: #f6f4f3;
//$control-border-width: 2px;
//$input-border-color: transparent;
//$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";